<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Chrome">
    <listeners>
        <listener class-name="utils.reportListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="chrome">

        <parameter name="browser" value="chrome"></parameter>
        <parameter name="URL" value="https://jupiter.cloud.planittesting.com/#/"></parameter>
        <classes>
            <class name="testCases.TestCase01">
            </class>
            <class name="testCases.TestCase02">
            </class>
            <class name="testCases.TestCase03">
            </class>
        </classes>
    </test>
</suite>